@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Geist", sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
    color: white;
    scrollbar-width: none;
    cursor: default;
    background-color: #111111;
}

/* Navabar starts */
#navbar {
    position: fixed;
    height: 9%;
    width: 100%;
    padding: 0vh 10vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    background-color: #111111;
    /* border-bottom: 1px solid #fff; */
}
#elem1 h2 {
    font-size: 1.6vw;
    font-weight: 900;
}
#elem2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 3vw;
    text-transform: uppercase;
}
#elem2 h4 {
    font-size: 0.9vw;
    cursor: pointer;
}
#elem2 h4:hover {
    color: #0da34e;
    transition: all ease 0.2s;
}
#dropdown-list > h4 {
    display: block;
    position: relative;
    padding: 0.8vw 1vw;
    border-radius: 50px;
}
#dropdown-list:hover > h4 {
    background-color: #333;
}
#dropdown-container {
    height: fit-content;
    width: 110%;
    padding: 0.6vw 1.5vw;
    margin-top: 2vh;
    margin-left: -1.3vw;
    color: #000;
    background-color: #fff;
    border-radius: 12px;
    position: absolute;
    text-transform: capitalize;
    opacity: 0;
    display: none;
}
#dropdown-list h4:hover #dropdown-container {
    display: block;
    opacity: 1;
    z-index: 99;
}
#dropdown-container h5:hover{
   color: #0da34e;
}
.dropdown {
    border-bottom: 1px solid #d7d5d5;
    line-height: 1.7vw;
    padding-top: 0.8vw;
    padding-bottom: 0.8vw;
}
.dropdown h5 {
    font-size: 0.8vw;
}
#navbar button {
    height: 6.5vh;
    width: 10vw;
    background-color: #0da64e;
    border-radius: 1.5vw;
    border: none;
    color: white;
    font-weight: 700;
    font-size: 0.83vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2vw;
    cursor: pointer;
    padding-left: 1vw;
}
#navbar button i {
    background-color: #0da34e;
    font-size: 1vw;
}
/* Navabr ends */

/* Page-1 Starts */
#page1 {
    min-height: 100vh;
    width: 100%;
    /* background-color: #111111; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 5vw;
    cursor: default;
    position: relative;

}
#page1 h1 {
    font-size: 8.5vw;
    line-height: 8.5vw;
    /* font-weight: 900; */
    letter-spacing: -4px;
}
#page1 h1 svg {
    height: 6vw;
    width: 6vw;
    background-color: #0da34e;
    border-radius: 50%;
}
#page1 p {
    text-align: center;
    margin-top: 2vw;
    color: rgb(191, 189, 189);
}
#page1-pdesign {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.4vw;
    color: rgb(191, 189, 189);
}
#page1-pdesign h4 {
    font-weight: 400;
    border: 1px solid rgb(129, 126, 126);
    padding: 0.3vw 1vw;
    border-radius: 5vw;
}
#page1-pdesign span {
    padding: 0 4px;
}
#marque {
    position: absolute;
    bottom: -2%;
    white-space: nowrap;
    padding: 1.5vw;
    width: 40%;
    display: flex;
    overflow-x: hidden;
}
#marque .move {
    /* background-color: red; */
    display: inline-block;
    align-items: center;
    justify-content: center;
    gap: 3vw;
    animation: move;
    animation-duration: 9s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.move img {
    height: 1.1vw;
    margin: 0 1.2vw;
}

@keyframes move {
    0% {
        transform: translate(0%);
    }
    100% {
        transform: translate(-100%);
    }
}
#blur-left {
    height: 100%;
    width: 20%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 1;
    background: linear-gradient(to right, #111, transparent);
}
#blur-right {
    height: 100%;
    width: 20%;
    top: 0;
    right: 0;
    position: absolute;
    z-index: 2;
    background: linear-gradient(to right, transparent, #111);
}

/* Page-1 ends */

/* Page-2 starts */
#page2 {
    height: 100vh;
    width: 100%;
    /* background-color: #111111; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0vh 8vw;
    margin-top: 3vw auto;
    padding-top: 3vw;
    padding-bottom: 8vw;
    border-top: 1px solid #333;
    position: relative;
    cursor: default;
}
#page2-left {
    height: 100%;
    width: 47%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    padding: 5vw 2.5vw;
}
#page2-left h5 {
    width: 65%;
    margin-bottom: 2vw;
    font-size: 1.05vw;
    font-weight: 300;
    line-height: 1.4vw;
}
#page2-left p {
    font-size: 0.9vw;
    font-weight: 300;
}
#page2-right {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    cursor: pointer;
}
.right-elem {
    width: 100%;
    height: 10vw;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 7vw;
    border-bottom: 2px solid #333;
    padding-top: 3vw;
    padding-bottom: 3vw;
    position: relative;
}
.right-elem:nth-last-child(1) {
    border-bottom: none;
}
.right-elem h5 {
    font-weight: 400;
    font-size: 0.75vw;
    color: #858282;
}
.arrow {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    height: 100%;
    width: 5.5vw;
}
.right-elem h2 {
    font-size: 1.5vw;
    font-weight: 400;
    color: #dfdcdc;
    text-transform: capitalize;
}
.right-elem img {
    height: 7vw;
    width: 7vw;
    object-fit: cover;
    position: absolute;
    opacity: 0;
    border-radius: 50%;
    scale: 0;
}
/* Page-2 Ends */

/* Page-3 Starts */
#page3 {
    height: 100vh;
    width: 100%;
    position: relative;
    background-image: url(https://lazarev.kiev.ua/la24/reel-cover.webp);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 0;
}
.center-play {
    height: 10vw;
    width: 10vw;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    /* z-index: 1; */
}
#icon i {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: #111;
    background-color: #fff;
    font-size: 1.8vw;
}
#page3 h5 {
    background-color: #fff;
    color: #111;
    padding: 0.5vw 0.8vw;
    border-radius: 1.2vw;
    margin-top: 0.6vw;
    font-size: 0.76vw;
    text-transform: uppercase;
    opacity: 0;
    transition: all ease 0.6s;
    transform: translateY(16%);
}
#page3:hover h5 {
    opacity: 1;
}
#page3 video {
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
    transform: scaleX(0.5) scaleY(0);
    border-radius: 40px;
    opacity: 0;
    z-index: 99;
}
/* page-3 Ends */

/* Page-4 starts */
#page4 {
    background-color: rgb(251, 251, 251);
    /* background-color: whitesmoke; */
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    color: #000;
}
#left {
    /* background-color: royalblue; */
    width: 45%;
    height: 100vh;
    padding: 0vw 10vw;
    padding-top: 16vh;
    font-size: 2vw;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 3.5vw;
}
#page4 #right {
    width: 50%;
    height: 100vh;
    padding-right: 10vw;
    padding-top: 16vh;
    padding-bottom: 14vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
#sec1 p {
    font-size: 1.4vw;
    padding-top: 2vw;
}
#sec1 h5 {
    color: #afacac;
    font-weight: 500;
}
#sec2 p {
    font-size: 1.4vw;
    padding-top: 2vw;
}
#sec2 h5 {
    color: #afacac;
    font-weight: 500;
}
/* Page-4 Ends */

/* Page-5 Starts */
#page5 {
    min-height: 100vh;
    width: 100%;
    position: relative;
    background-color: rgb(251, 251, 251);
    color: #000;
}
.section1 {
    height: 76vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8vh 10vw;
}
.sec-left {
    height: 100%;
    width: 24%;
    border-top: 2px solid #000;
}
.sec-left h2 {
    font-size: 2.2vw;
    font-weight: 400;
    padding-top: 1.7vw;
}
.sec-left p {
    font-size: 1.1vw;
    padding-top: 5vw;
}
.sec-left span {
    font-size: 1.3vw;
    padding: 1vw;
}
.sec-left > button {
    background-color: #4f5bff;
    height: 3.5vw;
    width: 16.5vw;
    border-radius: 50px;
    color: whitesmoke;
    border: none;
    font-weight: 550;
    font-size: 0.85vw;
    margin-top: 7vw;
    padding-left: 2vw;
}
.sec-right {
    height: 100%;
    width: 70%;
    position: relative;
    cursor: pointer;
}
.hover-btn {
    background-color: #4f5bff;
    /* background-image: url(https://images.unsplash.com/photo-1593012370132-c4390ff79e92?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8Ymx1ZSUyMGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D); */
    background-size: cover;
    height: 10vw;
    width: 10vw;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    scale: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.hover-btn h5 {
    color: #fff;
    font-size: 0.8vw;
    padding-bottom: 2vw;
    padding-right: 1vw;
}
.hover-btn i {
    color: #fff;
    font-size: 1.4vw;
    padding-top: 1.5vw;
    padding-left: 5.5vw;
}
.sec-right img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.sec-right video {
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity ease 0.2s;
}
#section2 {
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 34vw;
    padding-right: 10vw;
    padding-top: 3vw;
    gap: 5vw;
    position: relative;
    /* background-color: gray; */
}
#sec-left {
    height: 100%;
    width: 100%;
    border-top: 2px solid #d4d2d2;
    padding-top: 1vw;
    position: relative;
    cursor: pointer;
    /* background-color: royalblue; */
}
#sec-left h2 {
    font-size: 2.2vw;
    font-weight: 400;
}
#sec-left span {
    font-size: 1.4vw;
    padding: 1.3vw;
}
#sec-left p {
    padding-top: 5vw;
    font-weight: 300;
    font-size: 1.1vw;
}
#sec-left img {
    position: relative;
    height: 20vw;
    width: 100%;
    padding-top: 3vw;
    object-fit: cover;
}
#sec-left video {
    height: 33vh;
    width: 100%;
    object-fit: cover;
    background-size: cover;
    position: absolute;
    bottom: 17%;
    left: 0;
    opacity: 0;
    /* scale: 0; */
}
#sec-right {
    height: 100%;
    width: 100%;
    border-top: 2px solid #d4d2d2;
    padding-top: 1vw;
    position: relative;
    cursor: pointer;
    /* background-color: crimson; */
}
#sec-right h2 {
    font-size: 2.2vw;
    font-weight: 400;
}
#sec-right span {
    font-size: 1.4vw;
    padding: 1.3vw;
}
#sec-right p {
    padding-top: 5vw;
    font-weight: 300;
    font-size: 1.1vw;
}
#sec-right img {
    position: relative;
    height: 20vw;
    width: 100%;
    padding-top: 3vw;
    object-fit: cover;
}
#sec-right video {
    height: 14.2vw;
    width: 100%;
    object-fit: cover;
    position: absolute;
    bottom: 17%;
    left: 0;
    opacity: 0;
}
/* Page-5 Ends */

/* Page-6 Starts */
#page6 {
    min-height: 100vh;
    width: 100%;
    /* background-color: #111111; */
    padding: 10vh 10vw;
    position: relative;
}
#page6 h1 {
    font-size: 4vw;
    padding-top: 3vw;
    padding-left: 23vw;
    padding-right: 15vw;
    padding-bottom: 4.5vw;
    line-height: 4.2vw;
    border-bottom: 2px solid #222;
}
#page6-main {
    height: 100%;
    width: 100%;
    padding-top: 2vw;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 2vw;
}
#page6-right {
    height: 100%;
    width: 70%;
}
#page6-main button {
    height: 8vh;
    width: 15.5vw;
    background-color: #0da34e;
    border-radius: 50px;
    padding-left: 1vw;
    border: none;
    font-size: 0.9vw;
    font-weight: 600;
    color: #fff;
    position: sticky;
    top: 12%;
    cursor: pointer;
}
#page6 button i {
    font-size: 1.2vw;
    padding-left: 1.2vw;
    font-weight: 500;
}
#page6-right > p {
    font-size: 2vw;
}
#page6-right > p span {
    font-size: 0.8vw;
    font-weight: 200;
    height: 2vw;
    width: 15vw;
    display: inline-block;
}
#page6-content {
    width: 100%;
    height: 100%;
    margin-top: 4vw;
    border-top: 2px solid #888;
    padding: 1vw 0;
    position: relative;
}
#page6-content h2 {
    font-size: 3vw;
}
#uiux span {
    height: 100%;
    font-size: 1.8vw;
    margin-left: 32vw;
    border: 1px solid #333;
    padding: 1vw 1.15vw;
    border-radius: 50%;
    font-weight: 400;
    display: inline-block;
}
#product {
    border-top: 2px solid #888;
    margin-top: 2vw;
    padding: 1vw 0;
}
#product span {
    /* height: 100%; */
    font-size: 1.8vw;
    margin-left: 28vw;
    border: 1px solid #333;
    padding: 1vw 1.15vw;
    border-radius: 50%;
    font-weight: 400;
    display: inline-block;
}
#flex {
    display: flex;
    align-items: center;
    padding-top: 2.5vw;
    margin-bottom: 2vw;
}
#flex h5 {
    border: 1px solid #666;
    border-radius: 50px;
    padding: 1vh 1vw;
    font-size: 0.7vw;
    font-weight: 400;
}
.content-box {
    width: 100%;
    height: 100%;
    padding-top: 1.5vw;
    padding-bottom: 4vw;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border-top: 1px solid #333;
    position: relative;
    z-index: 9;
    overflow: hidden;
}
.content-box p {
    width: 29vw;
    margin: 0 5vw;
    color: #dcd9d9;
    font-size: 0.8vw;
    z-index: 9;
}
.content-box h4 {
    width: 14vw;
    font-size: 1.8vw;
    font-weight: 300;
    z-index: 9;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    /* background-color: crimson; */
}
.content-box i {
    font-size: 1.2vw;
    z-index: 9;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}
.over {
    background-color: #222;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    opacity: 0;
    transform: translateY(-100%);
    /* display: none; */
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.8s;
}
.content-box:hover h4 {
    padding-left: 1vw;
}
.content-box:hover i {
    padding-right: 1vw;
}
.content-box:hover .over {
    transform: translateY(0%);
    opacity: 1;
    /* display: initial; */
}
.content-box:hover {
    border-top: 1.5px solid whitesmoke;
    cursor: pointer;
}
summary::marker {
    content: "";
}
summary:hover {
    cursor: pointer;
}
/* Page-6 Ends */

/* Page-7 Starts */
#page7 {
    min-height: 100vh;
    width: 100vw;
    background-color: whitesmoke;
    color: #111;
    position: relative;
    padding: 10vh 10vw;
}
#page7 > h2 {
    font-size: 5.5vw;
    color: #111;
    padding-left: 21vw;
    padding-right: 10vw;
    padding-top: 3vw;
    padding-bottom: 6vw;
    border-bottom: 1px solid #e0dcdc;
    line-height: 6vw;
    font-weight: 750;
    letter-spacing: -1px;
}
#page7-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 9vh;
    padding-bottom: 4vh;
}
#blue-btn {
    height: 100%;
    width: 25%;
}
#blue-btn button {
    height: 8vh;
    width: 16vw;
    background-color: #4f5bff;
    color: #fff;
    border-radius: 50px;
    padding-left: 1vw;
    border: none;
    font-size: 0.9vw;
    text-transform: uppercase;
    font-weight: 500;
}
#blue-btn span {
    padding-left: 1.3vw;
    font-size: 1.1vw;
}
#page7 #right {
    width: 75%;
    padding-right: 12vw;
    padding-left: 1vw;
}
#right p {
    font-size: 1.5vw;
    padding-right: 4vw;
    margin-bottom: 12vh;
    letter-spacing: -0.5px;
}
#page7-bottom {
    width: 100%;
    height: 44vh;
    /* background-color: crimson; */
    border-top: 1px solid #dadada;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
#btm6-part1 {
    border-right: 1px solid #dadada;
    width: 30%;
    /* background-color: red; */
    height: 100%;
}
#btm6-part2 {
    border-right: 1px solid #dadada;
    width: 28%;
    /* background-color: red; */
    height: 100%;
}
#btm6-part3 {
    border-right: 1px solid #dadada;
    width: 15%;
    /* background-color: red; */
    height: 100%;
}
#btm6-part4 {
    border-right: 1px solid #dadada;
    width: 15%;
    /* background-color: red; */
    height: 100%;
}
#btm6-part5 {
    width: 15%;
    /* background-color: red; */
    height: 100%;
}
.btm6-parts {
    padding: 3vh 0.6vw;
}
.btm6-parts h5 {
    color: #000;
    font-weight: 500;
    font-size: 0.9vw;
    margin-bottom: 4vh;
}
.btm6-parts h4 {
    background-color: #111;
    width: 75%;
    padding: 5px 10px;
    margin-bottom: 0.3vh;
    border-radius: 50px;
    font-size: 0.85vw;
    display: flex;
    align-items: center;
    font-weight: 500;
}
.btm6-parts h4 span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5vw;
    height: 1.5vw;
    background-color: #333;
    padding: 0.5vw;
    border-radius: 50%;
    margin-right: 1vw;
}
#btm6-part2 h4:nth-child(2) {
    transform: translateX(0);
}
#btm6-part2 h4:nth-child(3) {
    transform: translateX(10%);
}
#btm6-part2 h4:nth-child(4) {
    transform: translateX(20%);
}
#btm6-part2 h4:nth-child(5) {
    transform: translateX(30%);
}
#btm6-part2 h4:nth-child(6) {
    transform: translateX(40%);
}
#btm6-part2 h4:nth-child(7) {
    transform: translateX(50%);
}
/* Page-7 Ends */

/* Page-8 Starts */
#page8 {
    height: 100vh;
    background-color: #111;
}
